form {
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    padding-right: 10%;
}

.form-group {
    display: block;
    width: 50%;
    margin-bottom: 1.5rem;

}

label {
    color: #5b360f;
}

.form-group>div input {
    padding: 1rem 3rem 1rem 0.4rem;
    background-color: rgb(16, 10, 10 ,0.4);
    border: 1px solid #5b360f;
    border-radius: 5px;
}
.form-group>div select {
    padding: 1rem 3rem 1rem 0.4rem;
    background-color: rgb(16, 10, 10 ,0.4);
    border: 1px solid #5b360f;
    border-radius: 5px;
    cursor:pointer;
}

.form-group>div textarea {
    padding: 1rem 3rem 1rem 0.4rem;
    background-color: rgb(16, 10, 10, 0.4);
    border: 1px solid #5b360f;
    border-radius: 5px;
}

.form-group>div input:focus {
    border: 2px solid#5b360f;
}

.form-group>div textarea:focus {
    border: 2px solid#5b360f;
}
input[type="date"]{
    cursor: pointer;
}

.input-group {
    width: 150%;
    padding-top: .8rem;
}

.input-group input {
    width: 100%;
}
.input-group select {
    width: 100%;
}

.btn-submit {
    margin-top: 1rem;
    margin-left: 125%;
}

.btn-submit button {
    cursor: pointer;
    padding: 1rem 3rem;
    color: white;
    background-color: #5b360f;
    border: none;
    border-radius: 5px;
    transition: all .4s ease;
    margin-bottom: 10px;
}

.form-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.dude {
    display: inline-block;
}

.btn-submit button:hover {
    color: #5b360f;
    background-color: transparent;
    border: 1px solid#5b360f;
}

input[placeholder] {
    color: aliceblue;
    background-color: aliceblue;
}

@media (max-width: 767px) {
    form {
        grid-template-columns: auto;
        place-items: unset;
        margin: 0 auto;
        width: 90%;
    }

    .form-group {
        width: 74%;
    }

    .btn-submit {
        text-align: center;
        margin-left: unset;
    }
}